.image {
    max-width: 100%;
}

body {
    margin: 0;
    background-color: #d6d6d6;
    font-family: 'Mulish', sans-serif;
}

.header_body {
    width: 375px;
    height: 330px;
    left: 0px;
    right: 0px;
    background: #000000;
    box-shadow: -7px -10px 25px 20px rgba(0, 0, 0, 0.85);
}

.logo_mini {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

/*header body*/

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: -80px;
}

.div_rec {
    position: relative;
    grid-area: 1 / 1 / 6 / 6;
    margin-top: -100px;
    margin-right: -100px;
    max-height: 330px;
    background: #000000;
    box-shadow: -7px -10px 25px 20px rgba(0, 0, 0, 0.85);
    rotate: -10deg;

}

.div_rec_r {
    grid-area: 2 / 2 / 5 / 5;
    position: absolute;
    width: 283px;
    height: 34px;
    top: 63px;
    background: #FF0000;
}

.div_logo {
    grid-area: 2 / 2 / 5 / 5;
    position: relative;
    left: -10px;
}


#rec {
    position: relative;
    overflow-x: hidden;
    height: 350px;
    margin-left: -35px;
    margin-top: -35px;

}

.menu {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}



video {
    box-shadow: 0px 2px 23px 8px rgba(0, 0, 0, 0.38);
    border-radius: 25px;
    margin-top: 50px;
    display: block;
    margin: auto;
    max-width: 80%;
}

iframe {
    padding: 30px;
    display: block;
    margin: auto;
}

.imagzz {
    display: block;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0px 2px 23px 8px rgba(0, 0, 0, 0.38);
}