.parentf {
    display: grid;
    padding-bottom: 100px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;

}

.div_frec {
    grid-area: 2 / 2 / 5 / 5;
    position: relative;
    margin-right: -250px;
    margin-left: -150px;
    max-height: 530px;
    margin-bottom: -200px;
    background: #000000;
    rotate: -10deg;
}

.text_footer_li {
    position: absolute;
    left: 10px;
    top: 120px;
    color: white;
    font-style: normal;
    line-height: 30px;
    text-decoration: underline;
}

.text_footer {
    position: absolute;
    top: 220px;
    left: 50px;
    color: white;
    font-style: normal;
}



a {
    text-decoration: none;
    color: #ffffff;

}

.logo_footer {
    position: absolute;
    max-width: 50%;
    left: 180px;
    top: 120px;
}

.mmi_logo {
    position: absolute;
    max-width: 18%;
    top: 340px;
    left: 310px;
}

.text_g {
    font-weight: bold;
}

.text_i {
    font-style: italic;
}

