@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.textcard1 {
    font-size: 14px;
    font-family: inter;
    font-weight: bold;
    margin-left: -20px;
}
.Titlecard1 {
    margin-top: 40px;
    font-size: 20px;
    font-family: inter;
    font-weight: bold;
    margin-left: -20px;
}

.card {
    margin-top: 40px;
    display: Grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    }
    
    .Feur { grid-area: 1 / 1 / 6 / 6; 
        margin-left: 10px;
        background: #FFFFFF;
        box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 328px;
        height: 160px;

}
    .For { grid-area: 2 / 1 / 5 / 3;
    width: 118px;
    height: 84px;
    }

    .fur { 
        display: flex;
        position: absolute;
        padding-top: 15px;
        left: 200px;
    }

    .ez { grid-area: 5 / 3 / 6 / 5;
    position: absolute;
    width: 117px;
    height: 43px;
    top: -50px;
    Left: -160px;
    background: #000000;
    box-shadow: 0px 14px 24px 5px rgba(0, 0, 0, 0.38);
    border-radius: 8px; 
    }
 
.arrow {
    position: absolute ;
    top: 11px;
    left: 35px;
    width: 40%;
} 

.imag {
    position: absolute;
        width: 128px;
        height: 84px;
        padding-left: 35px;
        top: 40px;
        
    }