@import "vendors/normalize.css";
@import "utils/variables.css";
@import "base/main.css";
@import "layout/composition.css";
@import "layout/header.css";
@import "components/components.css";
@import "components/card.css";
@import "fonts/fonts.css";
@import "layout/footer.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



.header_body {
    width: 375px;
    height: 330px;
    left: 0px;
    background: #000000;
    box-shadow: -7px -10px 25px 20px rgba(0, 0, 0, 0.85);
    }   

.logo_mini {
    padding-top: 30px;
    padding-left:  30px;
    padding-bottom:  10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: -80px;
    }
    
    .div_rec { 
        position: relative;
         grid-area: 1 / 1 / 6 / 6;
         margin-top: -100px;
         margin-right: -100px;
         max-height: 330px;
         background: #000000;
         box-shadow: -7px -10px 25px 20px rgba(0, 0, 0, 0.85); 
         rotate: -10deg;
         
        }
     .div_rec_r{ grid-area: 2 / 2 / 5 / 5;
        position: absolute;
        width: 283px;
        height: 34px;
        top: 63px;
        background: #FF0000;
     }
    .div_logo{ grid-area: 2 / 2 / 5 / 5;
        position: relative;
        left: -10px;
    }
   
    

.menu {
    padding-top: 30px;
    padding-right:  20px;
    padding-bottom:  10px;
    }


body {
    font-family: 'Mulish', sans-serif;
    background-color: #dedede;
}

.text {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #3A3941;

}

#rec {
    position: relative;
    overflow-x: hidden;
    height: 350px;
    margin-left: -35px;
    margin-top: -35px;
    
}

.footer {

rotate: 10deg;
background:;

}

a {
    text-decoration: none;
    color: #ffffff;

}

.text_footer {
    color: white;
    
}

#footer {

    position: relative;
    overflow-x: hidden;
    
    
}