@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "vendors/normalize.css";

@import "utils/variables.css";

@import "css/base/main.css";

@import "layout/composition.css";

@import "components/components.css";


header {
    position: fixed;
}
.header {box-sizing: border-box;
position: FI;
left: 0%;
right: 0%;
top: 21.54%;
bottom: 0%;
background: #000000;
border-radius: 0px 0px 32px 32px;
}

.logo_mini {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.menu {
    position: relative;
   
}
.logo {
    margin-top: 0px;
}
body {
    font-family: 'Mulish', sans-serif;
}









